.breadcrumb_success{
	background: #15a261 none repeat scroll 0 0;
	border-radius: 5px;
	color: #fff;
	font-size: 15px; 
	font-weight: 600; 
	margin-bottom: 0;
	margin-top: 5px;
	padding: 7px 10px 7px 10px;
} 
.breadcrumb_error{
	background: #ffd1d1 none repeat scroll 0 0;
	border-radius: 5px;
	color: #555555;
	font-size: 15px; 
	font-weight: 600;
	margin-bottom: 0;
	margin-top: 5px;
	padding: 7px 10px 7px 10px;
}
.error1{
	 color: #dd4b39;
	 display: inline-block;
    font-weight: 600;
    margin-bottom: 5px;
    max-width: 100%;
}