body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-family:"Poppins", sans-serif;font-weight:400;overflow-x:hidden;overflow-y:auto; font-size:15px;height:100%;}
b, strong{ font-weight: 600;}