/*
* Author : Ali Aboussebaba
* Email : bewebdeveloper@gmail.com
* Website : http://www.bewebdeveloper.com
* Subject : Dynamic Drag and Drop with jQuery and PHP
*/


/*
* {
	margin: 0;
	padding: 0;
}
body {
	padding: 10px;
	background: #eaeaea;
	text-align: center;
	font-family: arial;
	font-size: 12px;
	color: #333333;
}
.container {
	width: 1000px;
	height: auto;
	background: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 10px;
	margin: auto;
	text-align: left;
}
.header {
	padding: 10px;
}
.main_title {
	background: #cccccc;
	color: #ffffff;
	padding: 10px;
	font-size: 20px;
	line-height: 20px;
}
.content {
	padding: 10px;
	min-height: 100px;
	text-align: center;
}
.footer {
	padding: 10px;
	text-align: right;
}
.footer a {
	color: #999999;
	text-decoration: none;
}
.footer a:hover {
	text-decoration: underline;
}*/
/* Sortable ******************/
#sortable { 
	list-style: none; 
	text-align: left; 
}
/*#sortable li { 
	margin: 0 0 10px 0;
	/*height: 75px;*/ 
	/*background: #dbd9d9;
	border: 1px solid #999999;
	border-radius: 5px;
	color: #333333;
}*/
#sortable li {
    margin: 0 0 10px 0;
    min-height: 40px;
    background: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    color: #777;
    box-shadow: 0 0 3px #dedede;
    padding: 5px 5px;
}
#sortable h4 {
    display: inline-block;
    width: calc(100% - 150px);
    vertical-align: middle;
	font-size: 16px;
	font-weight:600;
}

#sortable li span {
	background-color: #e3e3e3;
	background-image: url('../images/drag.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 35px;
	height: 30px; 
	display: inline-block; margin-right:10px;
	float: left;
	cursor: move;
	border-radius: 5px;
}

/*#sortable li img {
	height: 65px;
	border: 5px solid #cccccc;
	display: inline-block;
	float: left;
}*/
#sortable li .action_btns {
    padding: 0;
    width: 100px;
    display: inline-block; text-align:right;vertical-align: middle;
}
#sortable li .action_btns a{ display:inline-block; margin:0 5px;vertical-align: middle;}
#sortable li .action_btns a:hover,#sortable li .action_btns a:focus{ color:#f0ad4e;}

#sortable li h2 {    
	font-size: 16px;
    line-height: 20px;
}

.panel-body ul li {    
	border: 0px solid #999999!important;
	background: #fff !important;
}


