@charset "utf-8";
/* CSS Document */
*, ul, a, li { text-decoration: none; list-style: none; padding: 0; margin: 0px; }
body { font-family: 'Lato', sans-serif; font-weight: 400; background-color: #fff; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease; background-position: center top; position: relative; color: #444145; font-size: 15px; }
.header{ background-color:#303f59; border-bottom:2px solid #fb9337;}
.wrapper{min-height:525px;}
.mstus { border: 1px dashed;padding: 1px 10px;margin-bottom: 0;font-weight: 600;font-size: 14px; }
.tbl_mstus {border: 1px dashed;padding: 2px 10px;margin-bottom: 0;font-size: 13px;font-weight: 600;}
.accepted { color: green; }
.rejected { color: #a94442; }
.pending { color: #555; }
.survey_name{ color:#fff; text-align:center; padding:15px 0;}
.survey_name h1{font-size:20px; margin:0px; text-transform:uppercase; font-weight:bold;line-height: 30px;}
.survey_name .sub_label{font-size: 21px;padding-top: 5px;margin-bottom: 0px;/* color:#f6e4a5;*/}
.welcome_div{ text-align:left; padding:30px 0; max-width:800px; margin:0 auto 0 auto;line-height:24px;}
.welcome_div p{  font-size:15px; line-height:25px; margin-bottom:15px;}
.welcome_div h1{ text-align:center;}
.title{font-size:20px; padding:15px 0px; font-weight:bold; margin:0px 0px 15px 0; position:relative; line-height:28px;}
.title::before{ content:''; position:absolute; width:100px; height:2px; background-color:#fb9337; bottom:0px; left:50%; margin-left:-50px;}
.next_btn{ margin-top:25px; padding:6px 20px; color:#fff; background-color:#fb9337; display:inline-block; font-size:16px; font-weight:bold; border-radius:4px; border:none;}
.next_btn:hover,.next_btn:focus{ background-color:#303f59; color:#f6e4a5; text-decoration:none;}
.footer{ position:fixed; bottom:0px; left:0px; right:0px; text-align:center; color:#fff; z-index:3; width:100%; background-color:#000; padding:15px 0;}
.core_text {display: inline-block; padding-right: 15px; font-size: 13px;}
.read_inst{ font-weight:600; font-size:18px;}
.instructions_rater {background-color: #eaf4f6;border: 1px solid #dedede;margin-bottom: 10px;border-radius: 3px; padding: 10px;color:#333; display:inline-block; width:100%;}
.instructions_rater .col-md-2, .instructions_rater .col-md-1{ padding-left:5px; padding-right:5px;}
.next_btn_save {padding: 7px 15px;color: #fff;background-color: #fb9337;display: inline-block;font-size: 14px;font-weight: bold;border-radius: 4px;border: none; width:100%;}
.next_btn_save:hover,.next_btn:focus{ background-color:#303f59; color:#f6e4a5; text-decoration:none;}
.tile-progressbar {height: 5px;background: rgba(230,230,230,0.6); margin: 0; display: inline-block; width: 250px;}
.m0p0{margin:0; padding:0;}
.assignment_raters{margin-top:10px;}
.assignment_raters .error{color: rgb(169, 68, 66);font-size: 14px;font-style: italic;letter-spacing: 1px;}
.trbg { background: #34445e url(../../images/default/topheaderbg.png);    color: #f6e4a5;}
.tac{text-align:center;}
.final_answer_fields{margin: 20px 0px;}
.rater_save_btn{margin-bottom: 70px;margin-top: 10px;} 
.rating_table{margin-top:15px;}
.fs14{ font-size:14px;}
.tile-progressbar span {
display: block;
background: #fb9337;
width: 0;
height: 100%;
-webkit-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
-moz-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
-o-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
}
.tile-progress {background-color: #303641;color: #fff;}
.tile-progress.tile-blue {
background-color: #0073b7;
color: #fff;
}
.powered_by{ text-align:right; display:table;}
.powered_by div{ display:table-cell; vertical-align:middle;}
.sponsors{ text-align:center; padding-top:25px; border-top:1px solid #dedede; padding-bottom:70px;}
.sponsors ul li{ display:inline-block; margin:15px; padding:10px; box-shadow:0 0 16px #e3e3e3;}
.sponsors ul li img{ width:100%;}
.questions_div{ padding:30px 0px 30px 0; margin:0 auto; max-width:800px;}
.qus_head{ font-size:18px; color:#303f59; font-weight:800; margin-bottom:10px;}
.qus_head span{ width:30px; height:30px; border-radius:50%; background-color:#fb9337; color:#fff; display:inline-block; margin-right:10px; text-align:center; line-height:30px; font-size:15px;}
.qus_head .que_line {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 45px);line-height: 32px;
}
.que_submit {
    text-align: center;
}
.goog-te-gadget-simple {
    background-color: transparent;
    border-radius: 30px;
    padding: 2px 5px 2px 2px;
    border-color: #fff;
    color: #fff;
}
.rank_label{ display:table; width:100%;max-width: 550px;margin-top: 20px;}
.rank_label li{ display:table-cell; vertical-align:middle; font-size:15px; text-align:center;}
.rank_label li:first-child{ text-align:left;}
.rank_label li:last-child{ text-align:right;}
.qus_box{ margin:15px 0 30px 0;}
.qus_options { margin-left:55px;}
.qus_options .radio{ display:block;margin-top:0; font-size:16px;}
#google_translate_element {
    position: absolute;
    right: 0;
    top: 15px;
	padding:0 10px;
}
 

.switch-field {
    overflow: hidden;max-width: 550px; margin-top:5px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 50px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #303f59;
  -webkit-box-shadow: none; color:#fff;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
table.matrix{ width:100%; text-align:center;}
table.matrix td{ width:20%; padding:5px;}
table.matrix tr td:first-child{border-right: 1px solid #dedede;}
.thankyou_msg{text-align:center;}
.thankyou_msg i{font-size:60px;color:#0fad00;}
.thankyou_msg h3{font-size:25px; margin:20px 0;}
.thankyou_msg .succ_msg{font-size:18px;color:#5C5C5C; font-family:'Raleway', sans-serif; margin-bottom:20px;}
.thankyou_msg .succ_msg p{line-height:30px;}

.success_msg {color: #006600;font-size: 14px;font-weight: bold;text-decoration: none;padding: 8px;margin-bottom: 10px;background-color: #CCFFCC;border: #CCFFCC 1px solid;text-align: center;}
.status_completed {color: #006600;padding: 0px 10px;font-size: 14px;letter-spacing: 1px;border: 1px dashed #006600;font-weight: bold;}
.error{color: #a94442;font-size: 14px;font-style: italic;font-weight: 600;margin-bottom: 0px;}
option{padding:5px;}
.que_submit{ margin:30px 0;}
.btn-primary {color: #fff;background-color: #fb9337;border-color: #fb9337;font-size: 14px;  font-weight:600;  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.btn-primary.focus,.btn-primary:focus,.btn-primary:hover{color:#fff;background-color:#34445e;border-color:#34445e}
.btn-default{font-size: 14px; color:#505050;font-weight:600; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.btn-default.focus,.btn-default:focus,.btn-default:hover{color:#fff;background-color:#34445e;border-color:#34445e}
.control-label{color:#505050; font-size:14px;}
iframe{border:1px solid #ccc; padding:3px;}
.upload_inst{ margin:20px 0;}
.image_data img{border:1px solid #ccc; padding:3px; }
.youtube_video_data h4{margin-bottom:5px;}
.m0p0{margin:0; padding:0;}
body.modal-open { padding-right: 0px !important; overflow-y: auto; }
.modal-dialog { max-width:600px; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.modal-header { background: url('../../../frontend/images/default/topheaderbg.png'); border-radius:4px 4px 0 0; border-bottom:3px solid #fb9337; padding:10px 15px }
.modal-header strong { color:#f6e4a5; font-size:17px; }
.modal-header .close { color:#f6e4a5; opacity:0.6; }
.modal-body{padding:5px;}
.modal-body p{padding:5px;}
.modal-body .control-label{margin-bottom: 5px;font-weight: 600;color: #505050;font-size: 13px;}
.modal-body .form-group{margin-bottom:10px;}
.modal-body .form-group .control-label{ margin-bottom:5px; font-weight:600;}
.modal-body p:last-child{ display:inline-block;}
.modal-body .view_btn { color:#fff; width:100%; text-align:center; border:none; margin-bottom:-10px;}
.instructions{background-color: #eaf4f6;border: 1px solid #dedede;margin-bottom: 10px;border-radius: 3px;padding: 10px; color: #333;}
.final_rating{margin-bottom:50px;}
#countdown{position: absolute;background-color: rgba(0,0,0,0.5);padding: 5px 10px;right: 0;top: 10px;color: #fb9337;border-radius: 3px;font-weight: 600;font-size: 18px;}

.question_page_assignment_panel .form-horizontal .control-label{text-align:left; padding:0 0px 5px 0px;}
.test_page_assignment_panel .form-horizontal .control-label{text-align:left; padding:0 0px 5px 0px;}

@media screen and (max-width: 412px) {
#google_translate_element {position: relative;right: 0;top: 0;padding: 0;margin: 0px 0px 10px auto;left: 0;text-align: center;}
}